/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans-v17-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('../fonts/open-sans-v17-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v17-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v17-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v17-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v17-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}

@media only screen and (max-width: 374px) {

    .post {
        display: flex;
        border-bottom: 1px dotted lightgray;
    }
    
    .postimg {
        max-width: 50%;
        padding: 2% 3% 2% 0%;
    }

    .postimg img {
        width: 94%;
    }

    .postdesc {
        padding: 0;
    }
}

@media only screen and (min-width: 375px) and (max-width: 767px) {

    .post {
        display: flex;
        border-bottom: 1px dotted lightgray;
    }
    
    .postimg {
        max-width: 35%;
        padding: 2% 3% 2% 0%;
    }

    .postdesc {
        padding: 0;   
    }
}

@media only screen and (min-width: 768px) {
    #mealsposts, #dessertsposts, #drinksposts {
        width: 100%;
        display: grid;
        grid-template-columns: 22% 22% 22% 22%;
        column-gap: 4%;
    }

    .postdesc {
        padding: 5% 5% 5% 0%;
    }

}

body {
    margin: 0;
    font-family: 'Open Sans';
    font-weight: 700;
}

h1 {
    text-align: center;
    font-size: 2.4em;
    margin: 1% 0;
}

h2 {
    font-size: 1.8em;
    padding-right: 1%;
    margin: 1% 0%;
}

h3 {
    font-size: 1.2em;
}

header {
    /* background-color: #DCDCDC; */
    padding: 0 3% 0 3%;
    width: 94%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topnav {
    max-width: 40%;
}

#searchbar {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
}

#submbut {
    width: fit-content;
}

.topnav input[type=text] {
    padding: 6px;
    border: none;
    font-size: 17px;
    border-radius: 5px;
    font-family: 'Open Sans';
    font-weight: 700;
    background-color: #f2f3f4;
    color: mediumaquamarine;
    text-align: right;
}

.topnav input[type=submit] {
    padding: 6px;
    background-color: #f2f3f4;
    border: none;
    font-family: 'Open Sans';
    font-weight: 700;
    width: 40%;
}

#logoinit {
    height: 50px;
    width: 50px;
}

#shopcart {
    height: 30px;
    width: 30px;
}

.dropdown {
    /* padding-right: 20px; */
    display: flex;
    align-items: center;
}

#introphoto {
    max-height: 240px;
    width: 90%;
    margin-top: 3%;
    padding: 3% 5% 3% 5%;
    overflow: hidden;
    -webkit-transform: rotate(180deg);
    -moz-transform:    rotate(180deg);
    -ms-transform:     rotate(180deg);
    -o-transform:      rotate(180deg);
    transform:         rotate(180deg);
}

#introphoto img {
    height: auto;
    width: 100%;
    overflow: hidden;
    -webkit-transform: rotate(180deg);
    -moz-transform:    rotate(180deg);
    -ms-transform:     rotate(180deg);
    -o-transform:      rotate(180deg);
    transform:         rotate(180deg);
}

#meals {
    margin: 0 3% 0 3%;
}

.categdrop {
    height: 100%;  
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    font-family: 'Open Sans';
    font-weight: 700;
}

#mealheader {
    display: flex;
    align-items: center;
    border-top: 1px solid black;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

/* #mealsposts  {
    width: 100%;
    display: grid;
    grid-template-columns: 22%  22%  22% 22%;
    column-gap: 4%;
} */

.post {
    width: 100%;
}

.postdesc {
    word-wrap: break-word;
    font-weight: normal;
}

#mealsposts img {
    width: 100%;
}

.seemore {
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: right;
}

.seemore a {
    text-decoration: none;
    color: mediumaquamarine;
}

#desserts {
    border-top: 1px  solid black;
}

#dessertheader {
    display: flex;
    align-items: center;
}

/* #dessertsposts {
    width: 100%;
    display: grid;
    grid-template-columns: 22%  22%  22% 22%;
    column-gap: 4%;
} */

#desserts {
    margin: 0 3% 0% 3%;
}

#dessertsposts img {
    width: 100%;
}

#drinks {
    margin: 0 3% 0% 3%;
    border-top: 1px solid black;
}

#drinksheader {
    display: flex;
    align-items: center;
}

/* #drinksposts  {
    width: 100%;
    display: grid;
    grid-template-columns: 22%  22%  22% 22%;
    column-gap: 4%;
} */

#drinksposts img {
    width: 100%;
}

#videos {
    margin: 0 3% 0 3%;
}

/* .dropwdown {
    float:left;
    overflow: hidden;
}

.dropdown .drophdr {
    font-size: 16px;
    border: none;
    padding: 14px 16px;
    background-color:  inherit;
    font-family: inherit;
    margin:  0;
}

.dropdown-content  {
    display: n one;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px  8px  16px  0px rgba(red, green, blue, alpha);
    z-index: 1;
} */
